@import url('https://fonts.googleapis.com/css?family=Nunito:400|Nunito:400i|Nunito:800');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

$punkBlue: #00B0E0;
$punkGreen: #6CB150;
$punkOrange: #FFC04C;
$punkRed: #EC5739;

$darkGray: #333;
$lightGray: #DDD;

html, body,
article, section, nav, div, form, table, tr,
span, p, h1, h2, h3, a, input, button, td, th {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  font-style: normal;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

nav {
  height: 40px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: $punkBlue;
  -webkit-animation: background_color_animation 14s infinite forwards;
  z-index: 10;
}

  nav a, nav input, nav button {
    padding: 0px 10px 0px 10px;
    color: $darkGray;
    font-size: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    transition: color 0.25s ease;
  }

  nav a:hover, nav button:hover {
    transition: color 0.25s ease;
    color: white;
    cursor: pointer;
  }

  nav input {
    padding: 0px 0px 0px 10px;
    width: 4.7em;
    font-family: 'Roboto Mono';
    border-left: 2px solid $darkGray;
  }

div#beer_section {
  padding-top: 40px;
}

section#list_beers article {
  margin: 20px auto 20px auto;
  width: 50%;
  display: flex;
  align-items: center;
  background-color: $lightGray;
}
  section#list_beers article:hover {
    cursor: pointer;
    background-color: $punkBlue;
  }

  section#list_beers article .imgContainer {
    padding: 5px;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section#list_beers article img {
    height: 80px;
  }

section#beer {
  
}
  section#beer article header {
    display: flex;
    align-items: center;
  }

  section#beer header .imgContainer {
    padding: 20px;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section#beer header img {
    height: 150px;
  }

  section#beer header .titleContainer h1 {
    margin-bottom: 10px;
    font-size: 20px;
    font-style: bold;
  }

  section#beer header .titleContainer h2 {
    font-size: 16px;
    font-style: italic;
  }

  section#beer table {
    border-collapse: collapse;
  }

  section#beer table th, section#beer table td {
    border: 1px solid black;
  }

@-webkit-keyframes background_color_animation {
  0% {  background-color: $punkBlue;  }
  25% {  background-color: $punkOrange;  }
  50% {  background-color: $punkRed;  }
  75% {  background-color: $punkGreen;  }
  100% {  background-color: $punkBlue;  }
}