@import "toastr";

@font-face {
  font-family: Roboto;
  src: url('./fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Nunito;
  src: url('./fonts/Nunito-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Nunito;
  src: url('./fonts/Nunito-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Nunito;
  src: url('./fonts/Nunito-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

$punkBlue: #00B0E0;
$punkGreen: #6CB150;
$punkOrange: #FFC04C;
$punkRed: #EC5739;

$darkGray: #333;
$lightGray: #DDD;

html, body,
article, section, nav, div, form, table, tr,
span, p, h1, h2, h3, a, input, button, td, th {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #f7f7f7;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

nav {
  height: 40px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: $punkBlue;
  -webkit-animation: background_color_animation 14s infinite forwards;
  z-index: 10;
}

  nav a, nav input, nav button {
    padding: 0 5px 0 5px;
    color: $darkGray;
    font-size: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    transition: color 0.25s ease;
  }

  nav a:hover, nav button:hover {
    transition: color 0.25s ease;
    color: white;
    cursor: pointer;
  }

  nav input {
    width: 4.7em;
    font-family: 'Roboto';
    border-left: 2px solid $darkGray;
  }

form.adv_search {
  position: fixed;
  top: -90px;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-animation: background_color_animation 14s infinite forwards;
  transition: 0.5s ease top;
}
  form.adv_search input.submit {
    display: none;
  }

  form.adv_search div {
    height: 30px;
    display: flex;
    align-items: center;
  }

  form.adv_search div label {
    padding: 0 10px;
    font-size: 18px;
  }

  form.adv_search div input {
    padding: 5px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
  }

div.beer_section {
  padding-top: 40px;
}

section.list_beers article {
  margin: 20px auto 20px auto;
  width: 50%;
  display: flex;
  align-items: center;
  background-color: $lightGray;
}
  section.list_beers article:hover {
    cursor: pointer;
    background-color: $punkBlue;
  }

  section.list_beers article .img_container {
    padding: 5px;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.list_beers article img {
    height: 80px;
  }

  section.list_beers article h1 {
    font-weight: bold;
  }

article.beer {
  width: 80%;
  margin: auto;
}
  article.beer .return_list {
    padding: 10px;
    left: 0;
    position: fixed;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    transition: 0.25s ease color, 0.25s ease background-color;
  }

  article.beer .return_list:hover {
    transition: 0.25s ease color, 0.25s ease background-color;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    cursor: pointer;
  }

  article.beer header {
    display: flex;
    align-items: center;
  }

  article.beer header .img_container {
    padding: 20px;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  article.beer header img {
    height: 150px;
  }

  article.beer header .title_container h1 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  article.beer header .title_container h2 {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
  }

  article.beer .similar_beer {
    display: flex;
    justify-content: center;
  }

  article.beer .similar_beer h3 {
    text-align: center;
  }

  article.beer .similar_part {
    width: 50%;
  }

  article.beer .similar_beer article {
    width: 80%;
  }

  article.beer table {
    border-collapse: collapse;
  }

  article.beer table th, article.beer table td {
    border: 1px solid black;
  }

  article.beer b {
    font-weight: bold;
  }

.empty {
  width: 100%;
  padding: 10px 0 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

@-webkit-keyframes background_color_animation {
  0% {  background-color: $punkBlue;  }
  25% {  background-color: $punkOrange;  }
  50% {  background-color: $punkRed;  }
  75% {  background-color: $punkGreen;  }
  100% {  background-color: $punkBlue;  }
}
